<!DOCTYPE html>
<html>
<head>
  <style>
    .error {
        color: red;
    }


  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <script type="text/javascript" src="https://d3js.org/d3-selection.v1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">

   </head>
<body>
  <h3 id="vis_ttl" style="font-family: Helvetica;">Future time reference visualisation</h3> <br>
  <div class="container ">
  <div class="row">
        <div class="col-lg-6">

            <b>2001</b> <input id="ex2"  type="text" class="span2" value="" data-slider-min="2001" data-slider-max="2022" data-slider-step="1" data-slider-value="[2012,2013]"/> <b>2022</b>
            <span id="ex6CurrentSliderValLabel">Years: <span id="ex6SliderVal">2012,2013</span></span>
        </div>
        <div class="col-lg-3">

        <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">PCA/TSNE</label>
</div>


      </div>
      <div class="col-lg-3">
          <input  onclick="reloadData()" type="button" value="GEt Data">
      </div>
</div>
      </div>



  </div>
  <div class="charts text-center">
      <div class="row"><div id="chart"></div></div><hr>
        <!-- Placeholder for the tooltip -->

  </div>

  <script>
      var slider = new Slider('#ex2', {});
      slider.on("slide", function(sliderValue) {
	document.getElementById("ex6SliderVal").textContent = sliderValue;
});

   function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: true, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }
   parse("/get_chart?st_year=2012&end_year=2013&algo=PCA","chart");
   function reloadData(){

        var mode = document.getElementById("customSwitch1")

        var dimreduce = "&algo="
        if (mode.checked){
           dimreduce += "PCA";
        }else {

            dimreduce += "TSNE";
        }

        var start_year = slider.getValue();
        var url = "/get_chart?st_year=" + start_year[0] + "&end_year=" + start_year[1]+dimreduce;
        parse(url, "chart");
    }

  </script>
</body>
</html>
